<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://meteogy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>meteogy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Meteogy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Meteogy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:meteogy.database.windows.net,1433;Initial Catalog=Meteogy_db;User ID=dbadmin25@meteogy;Password=db@dm1n25" Name="Data Source=tcp:meteogy.database.windows.net,1433;Initial Catalog=Meteogy_db;User Id=dbadmin25@meteogy;Password=db@dm1n25" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Meteogy.Models.DatabaseEntities, Meteogy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EDBModel.csdl|res://*/Models.EDBModel.ssdl|res://*/Models.EDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:meteogy.database.windows.net,1433;Initial Catalog=Meteogy_db;User Id=dbadmin25@meteogy;Password=db@dm1n25"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>